.fullscreen_bg {
    position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      overflow: hidden;
      z-index: -100;
  }
  
  .fullscreen_bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }